*.exe
*.pdb
*.ilk
*.obj
*.rdi
*.zip
*.bin
*.dll
*.ilk
*.exp
*.lib
*.js
*.html
*.wasm
*-export

*.blend
*.blend1
*.dot

!data/default.rscn
!data/default.rscn.bin

ols.json
odinfmt.json